Source: llx-pam-configs
Section: admin
Priority: extra
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.7
Homepage: http://www.lliurex.net

Package: llx-pam-configs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-modules, libpam-script
Conflicts: lightdm-running, lightdm-classroom
Replaces: lightdm-running, lightdm-classroom
Description: Lliurex pam-configs confiugrations
 Lliurex pam-configs custom confiugrations


Package: llx-pam-configs-ldap
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libpam-ldap, llx-pam-configs
Conflicts: lightdm-running, lightdm-classroom
Breaks: llx-pam-configs (<=0.5-1)
Replaces: lightdm-running, lightdm-classroom, llx-pam-configs (<=0.5-1)
Description: Lliurex pam-configs confiugrations
 Lliurex pam-configs custom confiugrations
